@using BookApp.Model
@model Category




    <h3 class="text-center py-4">Delete Category</h3>


<a asp-action="Index" asp-controller="Category" class="btn btn-primary">Back To Index</a>

<form method="post" >
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Category Name</label>
        <input disabled asp-for="Name"  class="form-control" >
    </div>
    <div class="mb-3">
        <label asp-for="DisplayOrder" class="form-label">Display Order</label>
        <input disabled asp-for="DisplayOrder"  class="form-control" >
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>



@section Scripts{
    <scripts>
        <partial name="_ValidationScriptsPartial" />
    </scripts>
}